<div class="row">
        <button class="btn bnt-primary">Insert</button>
        <div class="card-body table-full-width table-responsive">
            <table class="table table-hover table-striped">
                <tr>
                    <td>#</td>
                    <td>
                        id_Role
                    </td>
                   
                    <td>
                        Nama_Role
                    </td>
                </tr>
                <tr ng-repeat="item in DatasRole">
                        <td>{{$index+1}}</td>
                        <td>
                            {{item.id_Role}}
                        </td>
                        
                        <td>
                            {{item.Nama_Role}}
                        </td>
                </tr>
            </table>
        </div>
    
    </div>